# Игнорируем виртуальное окружение
venv/

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем системные файлы MacOS
.DS_Store

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем документацию, если она не нужна в репозитории


# Другие общие игноры
.idea/
.vscode/
*.swp 